* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ms-img-card{
    padding: 5px;
    border-radius: 20px;
}

.ms-img-card:hover{
    border: 2.5px solid rgb(0,112,209);
    padding: 2px;
    transform: translateY(-2px);
}

.ms-bg-orange{
    background-color: rgb(198,59,14);
}

.ms-color-blue{
    color: rgb(0,112,209);
}

.jumbox{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
}

.rounded-image{
    border-radius: 20px;
}